.logo {
    width: 2rem;
}

.logo {
    width: 2rem;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

h5 {
    font-family: 'Roboto Slab', serif;
}

li {
    font-family: 'Roboto Slab', serif;
}

font {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}